<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:myname="http://www.lexueba.com/schema/user"
       xsi:schemaLocation="
            http://www.springframework.org/schema/aop
            http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-3.1.xsd
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
            http://www.lexueba.com/schema/user
            http://www.lexueba.com/schema/user.xsd">

    <aop:aspectj-autoproxy/>

    <bean id="test" class="com.alachao.study.aop.TestBean"></bean>
    <bean class="com.alachao.study.aop.AspectJTest"></bean>
    <context:property-placeholder location="classpath:db_server.properties"/>

    <!--<myname:user id="testBean"  userName="xi" email="yu" />-->

   <!-- <bean id="beanPostProcessor" class="com.alachao.study.bean.MyBeanPostProcessor">
    </bean>

    <bean id="instantiationAwareBeanPostProcessor" class="com.alachao.study.bean.MyInstantiationAwareBeanPostProcessor">
    </bean>

    <bean id="beanFactoryPostProcessor" class="com.alachao.study.bean.MyBeanFactoryPostProcessor">
    </bean>

   <bean id="person" class="com.alachao.study.bean.Person" init-method="myInit"
          destroy-method="myDestory" scope="singleton" p:name="张三" p:address="广州"
          />-->



</beans>

